/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Resetting styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {

  /* Box-model */
  padding: 0;

  /* Positioning */
  margin: 0;
  font: inherit;

  /* Typography */
  font-size: 100%;
  vertical-align: baseline;

  /* Visual */
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {

  /* Misc */
  content: "";
  content: none;
}

table {
  border-spacing: 0;

  /* Visual */
  border-collapse: collapse;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Begin CSS */

body {
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

header,
nav,
section,
aside,
footer {
    background: #ebebeb;
}

header {
    margin-top: 10px;
    height: 100%;
    padding: 50px 0;
}

nav {
    margin: 10px 0px 20px 0px;
    height: 100%;
    padding: 50px 0;
}

.center-content {
    box-sizing: border-box;
    padding: 50px 0;

}

section {
    margin-right: 19px;
    width: 55%;
    height: 100%;
    background-color: #ebebeb;
    float: left;
}

article {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ebebeb;
    background: #777;
    padding: 20px;
    height: 100%;
    padding: 50px 0;
}

article p, 
.article-headings {
    background: #ebebeb;
    color: #777;
    background: #ebebeb;
}

.article-headings {
    margin-top: 20px;
    height: 100%;
    padding: 50px 0;
    font-weight: bold;
}

p {
    margin-top: 10px;
    height: 100%;
    padding: 50px 0;
    background-color: aqua;
}


aside {
    width: 43%;
    height: 100%;
    background-color: #ebebeb;
    float: left;
}

footer {
    margin: 20px 0 0 0;
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    clear: both;
    
}
